<!DOCTYPE html>
<html lang="fr">
	<head>
		<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
		<title>Accueil</title>
		<style>
		  body {
			padding-top: 60px;
		  }
		</style>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
			<div class="container">
			  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="brand" href="/">Django Demo</a>
			  <div class="nav-collapse collapse">
				<ul class="nav">
				  <li class="">
					<a href="/new/">New</a>
				  </li>
				  <li class="">
					<a href="/admin/">Admin</a>
				  </li>
				</ul>
			  </div>
			</div>
		  </div>
		</div>
		<div class="span12">
		<h1>Supprimé avec succès</h1>
		<a href="/">Retour à l'accueil</a>
		</div>
	</body>
</html>